@import "bulma.scss";

html{
  height: 100%;
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0; 
}
.main-content{
  width: 80%;
  margin: 0 auto;
}

.navbar{
  width: 80% !important;
  margin: auto;
}

nav img{
  max-height: 70px;
}

.burger{
  color: white;
  min-height: 71px;
}

.navbar-item:hover{
  background-image: linear-gradient($zio-gray, $zio-gray-dark) !important;
}

.bottom-to-top {
  border-width: 3px;
  border-style: solid;
  -webkit-border-image: 
    -webkit-gradient(linear, 0 100%, 0 0, from($zio-gray-dark), to($zio-gray)) 1 10%;
  -webkit-border-image: 
    -webkit-linear-gradient(bottom, $zio-gray-dark, $zio-gray) 1 10%;
  -moz-border-image:
    -moz-linear-gradient(bottom, $zio-gray-dark, $zio-gray) 1 10%;  
  -o-border-image:
    -o-linear-gradient(bottom, $zio-gray-dark, $zio-gray) 1 10%;
  border-image:
    linear-gradient(to top, $zio-gray-dark, $zio-gray) 1 10%;

  border-bottom: 0px;
  border-top: 0px;
}

.no-border{
  border-width: 0px; 
}

.content-body{
  margin-top: 18px;
}

.parallax{
  background-color: blue;
  background-image: url('../img/inf_250x250.png');
  min-height: 250px;

  background-attachment: fixed;
  background-position: center 70px;
  background-repeat: no-repeat;
  background-size: inherit;
  
}

.dark{
  background-color: $zio-gray-dark; 

  :hover{
    cursor: pointer;
  }
}

.somepadding{
  padding: 0px 0px 4px 5px;
  font-size: 1rem ; 
  float: left; 
  width: 90%;
}

.icon{
  float: right;
  margin-right: 5px;
  padding-top: 5px;
}

.sticky-h{
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 8;
}


.footer{
  color: white;
  line-height: 3px;
  padding: 0px;
  margin-top:20px;
  strong{
    color: white;      
  }
  width: 100%;
}

.columns{
  width: 100%;
}
.column{
  width: 100%;
}
 
// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }