@import "bulma.scss";

.main-content{
  width: 100%;
  margin: 0 auto;
}

.burger{
  color: white;
}

.navbar-item:hover{
  background-image: linear-gradient($zio-gray, rgb(71,71,71)) !important;
}

.content-body{
  margin-top: 21px;
}

.dark{
  background-color: rgb(71, 71, 71);  

  :hover{
    cursor: pointer;
  }
}

.somepadding{
  padding: 0px 0px 4px 5px;
  font-size: 1rem ; 
  float: left; 
  width: 90%;
}

.icon{
  float: right;
  margin-right: 5px;
  padding-top: 5px;
}


.footer{
  color: white;
  line-height: 3px;
  padding: 0px;
  margin-top:20px;
  strong{
    color: white;      
  }
}